.navigation {
  display: flex;
  .home,
  .notice,
  .restaurant {
    font-size: 1.2rem;
    background-color: #f4f5f7;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    text-align: center;
    cursor: pointer;
    width: 5rem;
  }
}
