.term {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 1.3rem;
  border: 1px solid #f0f2f3;
  border-radius: 0.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  .title,
  .day,
  .content {
    margin: 1rem;
  }
}
